/* Pelin ulkoasun määrittely */

/* Yleiset tyylit */
body {
    font-family: 'Courier New', Courier, monospace; /* Fontti koko sivulle */
    text-align: center; /* Tekstin keskitys */
}

/* Asettelu Snake-logolle */
h1 {
    position: relative; /* Asemointi suhteessa muihin elementteihin */
}

img {
    position: absolute; /* Absoluuttinen sijainti */
    width: 200px; /* Kuvan leveys */
    height: auto; /* Korkeus säädetään automaattisesti suhteessa leveyteen */
    top: 20px; /* Pystysuuntainen sijainti */
    left: 50%; /* Vaakasuuntainen keskitys */
    transform: translateX(-50%); /* Tarkempi keskitys vaakasuunnassa */
    z-index: 1; /* Pinon syvyys, määrittää näkyvyysjärjestyksen */
}

/* Pelialueen asettelu */
.container {
    display: flex; /* Joustavien elementtien käyttö */
    flex-direction: column; /* Sisällön sijoittuminen pystysuuntaan */
    align-items: center; /* Elementtien keskitys vaakasuunnassa */
}

#board {
    position: absolute; /* Absoluuttinen sijainti */
    top: 200px; /* Etäisyys ylhäältä */
    left: 50%; /* Vaakasuuntainen keskitys */
    transform: translateX(-50%); /* Tarkempi keskitys vaakasuunnassa */
}